{{!< default}}

<header id="site-head">
    {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><div class="bloglogo" style="background: url({{@blog.logo}})"></div></a>{{/if}}
    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
            <p class="readmore"><a href="{{url}}">Read this article <i class="fa fa-chevron-circle-right"></i></a></p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>